services:
  ollama-pageindex:
    image: ollama/ollama
    container_name: ollama-pageindex
    ports:
      - "11435:11434"
    volumes:
      - ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    # restart: unless-stopped

volumes:
  ollama: